{% extends 'admin_app/base.html' %}
{% load static %}
{% block title %}Add Product{% endblock %}
{% block 'content' %}

<div class="container-fluid">
  <form method="POST" enctype="multipart/form-data" class="bg-dark p-4 rounded">
    {% csrf_token %}

    <div class="d-flex justify-content-between align-items-center mb-4">
      <h5 class="fw-bold">Add New Product</h5>
      <div>
        <button type="reset" class="btn btn-outline-light me-2">Clear</button>
        <button type="submit" class="btn btn-primary">Create Product</button>
      </div>
    </div>

    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
      {% endfor %}
    {% endif %}

    <div class="row g-4">
      <!-- Left Column -->
      <div class="col-lg-8">
        <!-- General Information -->
        <div class="card bg-dark border p-4 mb-4">
          <h6 class="text-uppercase text-muted mb-3">General Information</h6>
          <div class="mb-3">
            <label class="form-label text-light">Product Name</label>
            <input type="text" name="name" class="form-control bg-secondary text-light border-0" placeholder="Product name" required>
          </div>
          <div class="mb-3">
            <label class="form-label text-light">Description</label>
            <textarea name="description" rows="3" class="form-control bg-secondary text-light border-0" placeholder="Product description"></textarea>
          </div>
        </div>
      </div>

      <!-- Right Column -->
      <div class="col-lg-4">
        <!-- Upload Image -->
        <div class="card bg-dark text-center p-3 border mb-4">
          <h6 class="text-uppercase text-secondary">Upload Image</h6>
          <img id="imagePreview" src="" class="img-fluid mt-2 rounded shadow" style="display:none; width:150px; height:auto; object-fit:cover; margin:auto;">
          <div class="mt-3">
            <input type="file" id="imageInput" name="image" accept="image/*" class="form-control bg-dark text-white border-light">
          </div>
        </div>

        <!-- Category -->
        <div class="card bg-dark border p-4 mb-4">
          <h6 class="text-uppercase text-muted mb-3">Category</h6>
          <select name="category" class="form-select bg-secondary text-light border-0" required>
            <option value="">Select Category</option>
            {% for cat in categories %}
              <option value="{{ cat.id }}">{{ cat.name }}</option>
            {% endfor %}
          </select>
        </div>

        <!-- Brand -->
        <div class="card bg-dark border p-4">
          <h6 class="text-uppercase text-muted mb-3">Brand</h6>
          <select name="brand" class="form-select bg-secondary text-light border-0">
            <option value="">Select Brand</option>
            {% for b in brands %}
              <option value="{{ b.id }}">{{ b.name }}</option>
            {% endfor %}
          </select>
        </div>

        <!-- Featured-->
        <div class="mb-3">
          <label>Featured Product</label><br>
          <input type="checkbox" name="featured">
        </div>

      </div>
    </div>
  </form>
</div>
{% endblock %}

{% block js %}<script src="{% static 'js/add_product.js' %}"></script>{% endblock %}
