{% extends "user/base.html" %}
{% load static %}
{% block 'css' %}<link rel="stylesheet" href="{% static "css/style.css" %}">{% endblock %}
{% block 'content' %}

<div class="brand-name">STYLE RUSH</div>
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-danger">
            <strong>{{message}}</strong>
        </div>
    {% endfor %}
{% endif %}
<section class="card-wrap">
    <h4 class="text-center mb-4 fw-bold">Forgot Password</h4>

    <form id="forgotpasswordform" action="{% url "forgotpassword" %}" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="username">Username</label>
                <input type="text" placeholder="username" name="username" id="username">
                <span class="error" id="usernameerror"></span>
            </div>

            <div class="mb-3">
                <label for="password">New Password:</label>
                <input type="password" placeholder="Password" name="password" id="password">
                <span class="error" id="pass1error"></span>
            </div>

            <div class="mb-3">
                <label for="password2">confirm new Password:</label>
                <input type="password" placeholder="Password" name="password2" id="password2">
                <span class="error" id="pass2error"></span>
            </div>

            <button type="submit" class="btn btn-primary w-100">Save</button>
        </form>
</section>
{% endblock %}
{% block 'script' %}<script src="{% static 'js/forgot.js' %}"></script>{% endblock %} 