{% extends "user/base.html" %}
{% load static %}

{% block 'css' %}<link rel="stylesheet" href="{% static "css/order_detail.css" %}">{% endblock %}

{% block 'content' %}
{% include "includes/navbar.html" %}

<section class="container py-5">

    <div class="card shadow-lg border-0">
        <div class="card-header bg-dark text-white d-flex justify-content-between">
            <h5>Order #{{ order.id }}</h5>
            <span class="badge 
                {% if order.payment_status == 'Delivered' %}bg-success
                {% elif order.payment_status == 'Cancelled' %}bg-danger
                {% else %}bg-warning text-dark{% endif %}">
                {{ order.payment_status }}
            </span>
        </div>

        <div class="card-body bg-light-subtle">

            <!-- ORDER INFO -->
            <div class="row mb-4">
                <div class="col-md-6">
                    <h6>Shipping Address</h6>
                    <p class="mb-1">
                        {{ order.address.first_name }} {{ order.address.last_name }}<br>
                        {{ order.address.street_address }}<br>
                        {{ order.address.city }}, {{ order.address.state }}<br>
                        {{ order.address.country }} - {{ order.address.zip_code }}<br>
                        Phone: {{ order.address.phone }}
                    </p>
                </div>

                <div class="col-md-6 text-md-end">
                    <p><strong>Order Date:</strong> {{ order.created_at|date:"d M Y" }}</p>
                    <p><strong>Payment Mode:</strong> {{ order.payment_mode }}</p>
                    <p><strong>Total Amount:</strong> ₹{{ order.total }}</p>
                </div>
            </div>

            <!-- ITEMS -->
            <div class="table-responsive">
                <table class="table align-middle">
                    <thead class="table-dark">
                        <tr>
                            <th>Image</th>
                            <th>Product</th>
                            <th>Variant</th>
                            <th>Price</th>
                            <th>Qty</th>
                            <th class="text-end">Subtotal</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in order.items.all %}
                        <tr>
                            <td>
                               {% if item.variant.image %}
                                    <img src="{{ item.variant.image.url }}" alt="{{ item.variant.product.name }}" width="70" height="70" class="rounded me-3">
                                {% elif item.variant.color.main_image %}
                                    <img src="{{ item.variant.color.main_image.url }}" alt="{{ item.variant.product.name }}" width="70" height="70" class="rounded me-3">
                                {% elif item.variant.product.image %}
                                    <img src="{{ item.variant.product.image.url }}" alt="{{ item.variant.product.name }}" width="70" height="70" class="rounded me-3">
                                {% else %}
                                    <img src="{% static 'images/placeholder.jpg' %}" alt="Product" width="70" height="70" class="rounded me-3">
                                {% endif %} 
                            </td>
                            <td>{{ item.variant.product.name }}</td>
                            <td>{{ item.variant.color.name }} / {{ item.variant.size.size }}</td>
                            <td>₹{{ item.price }}</td>
                            <td>{{ item.quantity }}</td>
                            <td class="text-end">₹{{ item.subtotal }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <th colspan="4" class="text-end">Grand Total</th>
                            <th class="text-end">₹{{ order.total }}</th>
                        </tr>
                    </tfoot>
                </table>
            </div>

            <!-- ACTIONS -->
            <div class="d-flex justify-content-between mt-4">
                <a href="{% url 'order_list' %}" class="btn btn-outline-secondary">Back to Orders</a>
                <div class ="d-flex justify-content-between">
                    {% if order.payment_status == 'Cancelled' %}
                        <button class="btn btn-outline-danger btn-sm" disabled>Cancelled</button>
                    {% elif order.payment_status != 'Delivered' %}
                        <a href="{% url 'track_order' order.id %}" class="btn btn-outline-dark btn-sm">Track Order</a>
                    {% else %}
                        <button class="btn btn-outline-dark btn-sm" disabled>Delivered</button>
                    {% endif %}
                    <a href="{% url 'invoice_pdf' invoice.id %}" class="btn btn-dark ms-3">Download Invoice</a>
                </div>
            </div>

        </div>
    </div>

</section>

{% include "includes/footer.html" %}
{% endblock %}
