.order-success {
  background-color: #ba9191;
}

.thankyou-box {
  background-color: #d2a9a9;
  color: #1f1f1f;
}

.billing-info {
  font-size: 0.95rem;
}

.summary-box {
  background-color: #d9d9d9;
}

.order-box {
  background-color: #bcbbbb;
}

.icon-box i {
  color: #3d7a3d;
  animation: pop 0.6s ease;
}

@keyframes pop {
  0% { transform: scale(0.8); opacity: 0.6; }
  100% { transform: scale(1); opacity: 1; }
}

.btn-dark {
  background-color: #5f2727;
  border: none;
}

.btn-outline-dark {
  color: #5f2727;
  border-color: #5f2727;
}

.btn-outline-dark:hover {
  background-color: #5f2727;
  color: #fff;
}
