.track-order {
  background-color: #af8787;
  min-height: 80vh;
}

.card {
    background-color: #bda7a7;
}

.track-timeline {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-top: 30px;
  position: relative;
  padding: 0 10px;
}

.track-timeline::before {
  content: "";
  position: absolute;
  top: 20px;
  left: 0;
  width: 100%;
  height: 4px;
  background: #e1c5c5;
  z-index: 0;
}

.track-step {
  position: relative;
  text-align: center;
  flex: 1;
  z-index: 1;
}

.track-step.active .circle {
  background-color: #198754;
  color: #fff;
  border: 2px solid #198754;
}

.track-step.active .label p {
  color: #198754;
}

.track-step .circle {
  width: 40px;
  height: 40px;
  border: 2px solid #bbb;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 10px;
  background-color: #fff;
  font-size: 1.2rem;
  color: #555;
  transition: all 0.3s ease-in-out;
}

.track-step .label {
  font-size: 0.9rem;
}

@media (max-width: 768px) {
  .track-timeline {
    flex-direction: column;
    align-items: center;
  }
  .track-timeline::before {
    display: none;
  }
  .track-step {
    margin-bottom: 20px;
  }
}

/* --- Features Section --- */
.features-section {
  background-color: #bda7a7;
  border-top: 1px solid #ddd;
}

.features-section i {
  color: #000;
}

.features-section h6 {
  font-weight: 600;
  margin-top: 10px;
}

.features-section p {
  font-size: 13px;
  color: #8d8d8d;
}