.profile-section {
  background-color: #af8b8b;
  min-height: 60vh;
}

.card {
  border-radius: 1rem;
}

.card-header {
  border-bottom: none;
}

.card-body {
  background-color: #e3cccc;
}

.btn-dark {
  background-color: #3b1f1f;
  border: none;
}

.btn-dark:hover {
  background-color: #5f2d2d;
}

input.form-control, textarea.form-control {
  border-radius: 0.5rem;
}
