{% extends 'admin_app/base.html' %}
{% block title %}Dashboard{% endblock %}
{% block 'content' %}

<div class="row g-4">
    <div class="col-md-6">
        <div class="card bg-secondary p-3">
            <h5>Sales</h5>
            <h2>${{ total_sales|floatformat:2 }}</h2>
            <p class="text-muted">Today</p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card bg-secondary p-3">
            <h5>Orders</h5>
            <h2>{{ total_orders }}</h2>
            <p class="text-muted">To Ship</p>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card bg-dark border p-3">
        <h5>Top Products</h5>
            <table class="table table-dark table-sm">
                <thead><tr><th>Product</th><th>Stock</th><th>Price</th></tr></thead>
                <tbody>
                    {% for p in top_products %}
                        <tr>
                            <td>{{ p.name }}</td>
                            <td>{{ p.total_stock|default:"0" }}</td>
                            <td>${{ p.min_price|default:"-" }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card bg-dark border p-3">
            <h5>Recent Orders</h5>
            <table class="table table-dark table-sm">
                <thead><tr><th>Order ID</th><th>Customer</th><th>Products</th><th>Total</th><th>Status</th></tr></thead>
                <tbody>
                    {% for order in recent_orders %}
                        <tr>
                            <td>#{{ order.id }}</td>
                            <td>{{ order.user.username }}</td>
                            <td>
                                {% for item in order.items.all %}
                                    {{ item.variant.product.name }} (x{{ item.quantity }})<br>
                                {% empty %}
                                    <em>No items</em>
                                {% endfor %}
                            </td>
                            <td>₹{{ order.total }}</td>
                            <td>{{ order.payment_status }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="5" class="text-center"><em>No recent orders found.</em></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>
</div>
{% endblock %}
