{% extends 'user/base.html' %}
{% load static %}

{% block 'css' %}<link rel="stylesheet" href="{% static 'css/style.css' %}">{% endblock %}

{% block 'content' %}
{% include "includes/navbar.html" %}

<section class="about-hero text-center text-dark d-flex align-items-center justify-content-center">
    <div class="container">
        <h1 class="fw-bold display-4 mb-3">404 Page</h1>
        <h2 class="bold text-dark">Oops! Page not found</h2>
        <p class="text-dark text-center">The page you’re looking for doesn’t exist or may have been moved.</p>
        <a href="{% url 'home' %}" class="btn">Go Back Home</a>
    </div>
</section>

{% include "includes/footer.html"%}
{% endblock%}