{% extends "user/base.html" %}
{% load static %}
{% block 'css' %}<link rel="stylesheet" href="{% static "css/style.css" %}">{% endblock %}
{% block 'content' %}

{% for message in messages%}
  <div class="alert alert-danger">
    <strong>{{message}}</strong>
  </div>
{% endfor %}
<section class="login-wrap">
  <form class="login-card" method="post" action="{% url "login" %}" id="loginform">
    <h1 class="brand">STYLERUSH</h1>
    {% csrf_token %}

    <label class="input-wrap">
      <input type="text" name="username" placeholder="USERNAME" id="username">
      <span id = "usererror" class="error"></span>
    </label>

    <label class="input-wrap">
      <input type="password" name="password" placeholder="PASSWORD" id="password">
      <span id = "passerror" class="error"></span>
    </label>

    <button class="btn-login" type="submit">LOGIN</button>

    <div class="forgot">
      <a href="{% url "forgotpassword" %}">Forgot password?</a>
      <a href="{% url "signup" %}">Don't have an account!Create</a>
    </div>
  </form>
</section>
{% endblock %}
{% block 'script' %}<script src="{% static 'js/login.js' %}"></script>{% endblock %} 