{% extends "user/base.html" %}
{% load static %}
{% block 'css' %}<link rel="stylesheet" href="{% static "css/style.css" %}">{% endblock %}
{% block 'content' %} 


{% if messages %}
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
  {% endfor %}
{% endif %}

<div class="form-card">
    <div class="brand-name">STYLE RUSH</div>
    <h4 class="text-center mb-4 fw-bold">Create an account</h4>

    <div class="google-btn mb-3">
        <img src="https://img.icons8.com/color/48/google-logo.png" alt="Google" width="20" >
        Create account with Google
    </div>

    <div class="divider">Or</div>

    <form id="signupForm" action="{% url "signup" %}" method="POST">
        {% csrf_token %}

        <div class="mb-3">
            <label for="fname">First name:</label>
            <input type="text" placeholder="Enter your first name" id="fname" name="fname">
            <span class="error"></span>
        </div>
        
        <div class="mb-3">
            <label for="lname">Last name:</label>
            <input type="text" placeholder="Enter your last name" id="lname" name="lname">
            <span class="error"></span>
        </div>

        <div class="mb-3">
            <label for="email">Email:</label>
            <input type="email" placeholder="Enter your email address" id="email" name="email">
            <span class="error"></span>
        </div>

        <div class="mb-3">
            <label for="username">Username:</label>
            <input type="text" placeholder="Enter your username" id="username" name="username">
            <span class="error"></span>
        </div>
        
        <div class="mb-3"> 
            <label for="password1">Password:</label>
            <input type="password" placeholder="Create password" id="password1" name="password1">
            <span class="error" id="pass1Error"></span>
        </div>
        
        <div class="mb-4">
            <label for="password2">Confirm Password:</label>
            <input type="password" placeholder="Confirm password" id="password2" name="password2">
            <span class="error" id="pass2Error"></span>
        </div>
        
        <button type="submit" class="btn btn-primary w-100">Create an account</button>
    </form>
    <p class="link-msg">Already have an account? <a href="{% url 'login' %}">Login</a></p>
</div>
{% endblock %}
{% block 'script' %}<script src="{% static 'js/signup.js' %}"></script>{% endblock %}